.TabelaProdutos table {
  width: 100%;
}
.TabelaProdutos th {
  background-color: black;
  color: white;
}
.TabelaProdutos .Par {
  background-color: #ffff;
}
.TabelaProdutos .Impar {
  background-color: #ccc;
}
