.Contador input {
  font-size: 1.4rem;
  width: 150px;
}
.Contador button {
  height: 50px;
  margin: 15px;
  width: 50px;
  border-radius: 50%;
  background-color: grey;
  border-color: white;
  color: white;
  font-size: 1.9rem;
}
